:host {
  .timer-result {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: #fff;
    position: relative;

    &:before{
      position: absolute;
      bottom: 0px;
      left: 5%;
      content: ' ';
      width: 91%;
      height: 32px;
      margin: 0 auto;
      box-shadow: 0 19px 15px -8px #ff9b9c78;
    }
  }
}
