:host {
  display: flex;
  justify-content: center;
  align-items: center;
  // position: absolute;
  width: 100%;
  height: 100%;
  // top: 0;
  // right: 0;
  // z-index: 0;

  .card-component {
    background: #fff;
    padding: 10px 25px 25px 25px;
    min-height: 50px;
    border-radius: 15px;
    max-width: 350px;
    min-width: 350px;
    min-height: 504px;
    display: flex;
    flex-direction: column;

   &__head  span{
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    a {
      font-size: 24px;
      margin-left: 10px;
      color: #8F97F8;
      &:hover {
        color: rgb(101, 113, 247);
      }
    }
  }
}

}
