:host {
  .time-line-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-basis: 45%;
    }

    input {
      max-width: 80px;
    }

    app-button {
      align-self: center;
    }

  }
}
