<div class="time-line-row" [class.active]="used">
  <app-time-input
    id="timeStart"
    [initialValue]="timeLine.dtInicio"
    (timeValue)="timeLine.dtInicio = $event">
      <i class="fa fa-flag" aria-hidden="true"></i>
  </app-time-input>

  <app-time-input
    id="timeEnd"
    [initialValue]="timeLine.dtFim"
    (timeValue)="timeLine.dtFim = $event">
      <i class="fa fa-flag-checkered" aria-hidden="true"></i>
  </app-time-input>

  <app-button
    *ngIf="!showTotal"
    (onClick)="handleConfirmationButton()">
      <i class="fa fa-rocket" aria-hidden="true"></i> Ok
  </app-button>

  <span *ngIf="showTotal">
    {{timeLine.total}}H
  </span>
</div>
