:host {
  .time-line-row {
    border: 2px solid #F5F6F7;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    transition: all .1s ease-in-out;
    padding: 5px;
    margin-bottom: 10px;

    app-button {
      flex-shrink: 0;
    }
  }

  .active {
    // background-color: #E2E4FC;
    // border-color: #E2E4FC;
    // app-time-input input {
    //   color: #8F97F8;
    //   background-color: #E2E4FC;
    // }
  }
}
