<div class="dashboard">
  <div>

    <app-card>

      <app-time-result [tempo]="time.timeDifference$ | async"> </app-time-result>

      <span>
        <app-big-button (onClick)="addTimeLine()">Add Time</app-big-button>
        <app-big-button (onClick)="summarize()">Summarize</app-big-button>
      </span>

      <!-- multiply for more elements -->
      <app-time-line *ngFor="let timeLine of timeLines" (onAccept)="handleTimeCalculation($event)"></app-time-line>

    </app-card>
  </div>
</div>
