/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Roboto', sans-serif;
  background: #70B6B4;  /* fallback for old browsers */

  color: #403F3F;
}
