/* You can add global styles to this file, and also import other style files */
html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Quicksand', sans-serif;
  background: #F5F6F7;
  color: #403F3F;
}

nav {
  position: absolute;
  z-index: 1;
}
